<a href="https://colab.research.google.com/github/Juanisazalu/ANALITICA-3/blob/main/Explotaci%C3%B3n_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import sqlite3 as sql #### para bases de datos sql
import a_funciones as funciones  ###archivo de funciones propias
encuesta_empleado=pd.read_csv("data\employee_survey_data.csv")
general_data=pd.read_csv("data\general_data.csv")
encuesta_gerente=pd.read_csv("data\manager_survey.csv")
info_retiros=pd.read_csv("data/retirement_info.csv")
encuesta_empleado.drop("Unnamed: 0", axis=1, inplace=True)
general_data.drop("Unnamed: 0", axis=1, inplace=True)
encuesta_gerente.drop("Unnamed: 0", axis=1, inplace=True)
info_retiros.drop("Unnamed: 0.1", axis=1, inplace=True)
info_retiros.drop("Unnamed: 0", axis=1, inplace=True)

   EmployeeID Attrition retirementDate retirementType resignationReason
0           2       Yes     2016-10-15    Resignation            Others
1           7       Yes     2016-07-20    Resignation            Stress
2          14       Yes     2016-11-08    Resignation            Others
3          29       Yes     2016-10-15    Resignation            Others
4          31       Yes     2016-02-08    Resignation            Salary